<div class="container">
  <a class="btn btn-outline-primary btn-sm" routerLink="/movimentacoes-new">Nova Movimentação</a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Data hora</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of movimentacoes; index as i">
        <th scope="row">{{ i + 1 }}</th> 
        <td>{{ item.dataHora  | date:'dd/MM/yyyy HH:mm:ss' }}</td> 
        <td>{{item.descricao}}</td>
        <td>{{item.valor | currency:'BRL':true}}</td>
        <td [ngStyle]="{'color':item.tipo === 'RECEITA' ? 'blue' : 'red'}">{{item.tipo}}</td>
      </tr>
      
  </table>
</div>